.navbar {
    z-index: 1000;
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 4.5rem;
    background: white;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.05);
    justify-content: space-between;
    padding-right: 2rem;

    .logo-container {
        padding: 1rem;
        display: flex;
        align-items: center;
        img {
            width: 3rem;
            margin-right: 1rem;
            border-radius: 0.5rem;
        }
        p {
            font-size: 1.2rem;
            font-weight: bold;
            color: var(--primaryColor);
        }
    }

    .right {
        display: flex;
        align-items: center;
        .icon-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3rem;
            height: 3rem;
            border-radius: 5rem;
            cursor: pointer;
            #notice-icon {
                position: relative;
            }
            .badge {
                top: -5px;
                right: -5px;
                position: absolute;
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 1rem;
                background: var(--primaryColor);
            }
        }
        .icon-button:hover {
            background: rgba(0, 0, 0, 0.05);
        }
        .icon-button:active {
            transform: scale(0.8);
        }
        .circle-avatar {
            margin-left: 2rem;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 10rem;
            background: var(--primaryColor);
        }
        .column {
            margin-left: 0.5rem;
            display: flex;
            flex-direction: column;
            p {
                font-weight: 500;
            }
            p:nth-child(2) {
                color: var(--primaryColor);
                font-size: 0.8rem;
            }
        }
    }
    
    .notice-panel {
        position: absolute;
        width: 400px;
        min-height: 80px;
        max-height: 600px;
        overflow-y: auto;
        border: 1px solid var(--primaryLight);
        background: white;
        top: 4.5rem;
        right: 0;

        .notice {
            width: 100%;
            padding: 1rem;
            p:nth-child(1) {
                color: var(--primaryColor);
                font-size: 1.2rem;
                font-weight: 500;
            }
            p:nth-child(2) {
                margin-top: 0.5rem;
                margin-bottom: 1rem;
            }
            .row {
                justify-content: space-between;
                p {
                    font-size: 0.8rem;
                    color: grey;
                }
            }
        }
    }
}
